<h3>Bookmarks</h3>
<div id="links_loop">
    {{#bookmarks}}
        <div id="links_item">
            <h4>{{category}}</h4>
            {{#links}}
                <a target=_blank href="{{url}}" class="theme_color-border theme_text-select">{{name}}</a>
            {{/links}}
        </div>
    {{/bookmarks}}
</div>  